/* ----------------
    common style 
------------------- */
* {
    margin: 0;
}

body {
    color: white;
    font-family: 'Roboto', sans-serif;
}


/* banner styling */

.banner {
    display: flex;
    background-color: #161616;
    width: 1320px;
    margin: 50px auto 130px;;
    padding-top: 30px;
    border-radius: 30px;
}

.banner-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    width: 40%;
    padding-left: 106px;
}

.banner-title {
    font-weight: 700;
    font-size: 70px;
}

.banner-author {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.watch-button {
    text-decoration: none;
    background-color: #DD0000;
    color: white;
    width: 187px;
    text-align: center;
    padding: 16px 25px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    transition: width 1s;
}

.watch-button:hover {
    background-color: yellowgreen;
    color: black; 
    width: 300px;
    text-align: center;
}

.banner-image {
    margin: 0 auto;
}

.banner-image img {
    width: 150%;
    position: relative;
    top: 4px;
}

/* blog and transfer news */

.blogs{
    display: flex;
    width: 1320px;
    margin: 140px;
}

.blog {
    background-color: #161616;
    border-radius: 10px;
    padding: 3px;
}

.blog-button {
    background-color: white;
    text-align: center;
    margin: 30px;
    width: 252px;
    padding: 20px;
    border: none;
    border-radius: 10px;
}

.blog-button a {
    color: #161616;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.active {
    background-color: #DD0000;
}

/* transfer section */

.transfer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    padding-left: 24px;
    color: #161616;
}

.transfer-news {
    display: flex;
    flex-direction: column;
    width: 312px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.transfer-info {
    padding: 0 20px;
}

.transfer-button{
    margin: 20px 0;
    border: 1px solid #161616;
    width: 67px;
    padding: 4px 16px;
}

.transfer-button a {
    text-decoration: none;
    color: #161616;
    font-weight: 500;
    font-size: 16px;
}

.transfer-headline {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.transfer-headline{
    color: #161616;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
}

.transfer-details {
    display: flex;
    margin-bottom: 20px;
}

.fa-comment-dots {
    margin-left: 30px;
}

.show-more-button {
    background-color: #DD0000;
    width: 80px;
    padding: 16px;
    margin: 50px auto 0;
    border-radius: 10px;
    display: none;   
}

.show-more-button a {
    text-decoration: none;
    text-align: center;
    color: white;
}

/* footer */

.footer-container {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.footer-title {
    font-size: 40px;
    font-weight: 600;
    padding-top: 130px;
}

hr {
    width: 1320px;
    margin: 50px 0 30px;
    border-bottom: none;
}
.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
    padding-bottom: 50px;  
}

.contact-info a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #b9b9b9;    
}

.settings a {
    padding: 0 30px;
}
  
.social-links {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    width: 300px;
    padding-bottom: 20px;
}
  
.social-links a {
    color: white;
    text-decoration: none;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.social-links a:hover {
  background-color: white;
}
  
.copyright {
    color: #b9b9b9;
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    /* top banner */
    .banner {
      width: 95%;
      padding-bottom: 10px;
    }
    .banner-details {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 20px;
      padding-left: 20px;
    }
    .banner-title {
      font-size: 40px;
    }
    .banner-author {
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
    }
    .banner-image {
      margin-left: 0;
    }
    .banner-image img {
      width: 100%;
      position: relative;
      top: 14px;
    }
  
    /* blog section */
    .blogs {
      display: flex;
      flex-direction: column;
      width: 95%;
      margin: 0 auto 200px;
    }
    .blog {
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      align-items: center;
  
      width: 100%;
      margin: 0 auto 20px;
      height: 100px;
  
      
    }
    .transfer {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 0;
    }
  
    .transfer-news {
      width: 100%;
    }
  
    .transfer-image img {
      width: 100%;
    }
  
    .hidden {
      display: none;
    }
  
    .show-more-button {
      display: inline;
      border: 1px solid #161616;
    }
  
    /* footer section */
    .footer-container {
      width: 100%;
    }
  
    hr {
      width: 70%;
    }
  
    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 50px;
      width: 90%;  
      font-size: 16px;
      font-weight: 500;
      color: #b9b9b9;
    }
  
    .goal {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
}
  
  /* phone view */
  @media screen and (max-width: 576px) {
    /* top banner */
    .banner {
      width: 95%;
      padding-bottom: 10px; 
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }
    .banner-details {
      width: 80%;  
      padding-left: 0;
      margin: 0 auto;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
    .banner-title {
      font-size: 22px;
      text-align: center;
    }
    .banner-author {
      text-align: center;
    }
    .banner-image {
      margin-left: 100px;
      position: relative;
      top: 10px;
    }
    .banner-image img {
      width: 100%;
    }
  
    /* blog section */
    .blogs {
      display: flex;
      flex-direction: column;
      width: 95%;
      margin: 0 auto 200px;
    }
    .blog {
      background-color: #ffffff;  
      display: flex;
      flex-direction: column;
      align-items: center;  
      width: 80%;
      margin: 0 auto 20px;
      height: 260px;
    }
  
    .blog-button {
      margin: 10px;
    }
    .transfer {
      grid-template-columns: repeat(1, 1fr);
      margin-left: 0;
      padding-left: 0;
    }
    .transfer-news {
      width: 100%;     
    }
  
    .transfer-image img {
      width: 100%;
    }
  
    /* footer section */
    .footer-container {
      width: 100%;
    }
  
    hr {
      width: 80%;
  
      margin-top: 24px;
    }
  
    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between; 
      padding-bottom: 50px;
      width: 90%; 
      font-size: 16px;
      font-weight: 500;
      color: #b9b9b9;
    }
  
    .settings {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 10px;
    }
  
    .goal {
      /* width: 100%; */
      display: flex;
      justify-content: center;
      margin-top: 10px;
  
      /* border: 1px solid black; */
    }
}